.fondo{
    background-size: 100% 100%;
    height: 700px;
background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1139582587/es/foto/concepto-de-regreso-al-colegio-aula-en-fondo-difuminado-sin-estudiante-joven-vista-borrosa-de.jpg?s=170667a&w=0&k=20&c=HehuiR8u0YLPBwZHPndkYBUzpS42q7Km090kmYjJawg=");
}

.unete{
    background-color: #FF4000;
    border-radius: 20px;
    color: white;
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 22px;
}

h1{
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
}
h3{
    color: white;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.banda{
    margin-top: 30px;
}
.cinta {
    background-color: #FF4000;
    border-radius: 30px;
}